@tailwind base;
@tailwind components;
@tailwind utilities;

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #EFEFEF;
}

.nav-normal {
  @apply text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium;
}

.nav-active {
  @apply bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium;
}
