@tailwind base;
@tailwind components;
@tailwind utilities;

/* debug */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  box-sizing: border-box;
  padding: 20px;
  background-color: #EFEFEF;
}

.disabled_form_field {
  input {
    @apply cursor-not-allowed bg-gray-100 text-gray-400;
  }
  .dot {
    display: none;
  }
  a {
    @apply text-gray-400;
  }
}